<!DOCTYPE html>
<html lang="en">
<head>
    <title>FaceTicker Download</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        <h1>FaceTicker</h1>
        <div id="content">
            <a href="/upload">처음으로 돌아가기</a>
            <h3>이미지를 클릭하여 다운 받으세요</h3>
            <a href="\static\Result.jpg" download="Result.jpg">
                <img src="\static\Result.jpg" alt="수정된이미지" height="600">
            </a>
            
            <!-- {% if posts.uploadImg %}
                <a href="{{ posts.uploadImg.url }}" download="{{posts.uploadImg}}">
                    <img src = "{{ posts.uploadImg.url }}" alt="{{posts.uploadImg}}" height="600">
                </a>
            {% endif %} -->
        </div>
    </div>
</body>
</html>